/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('imagen.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #ffffff;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #BA007C;
}

/* Contenedor del editor */
#editor-container {
    max-width: 800px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Editor de Quill */
#editor {
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
}

/* Botones */
button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    font-size: 16px;
    color: white;
    background-color: #00529c;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #6b1521;
}

/* Contenedor de comandos */
#comandosContainer {
    display: none;
    position: absolute;
    top: 50px;
    right: 150px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsividad */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    h1 {
        font-size: 24px;
    }
    button {
        width: 100%;
    }
    #editor-container {
        width: 100%;
    }
}
