/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('imagen.jpg'); /* Asegura que el archivo esté en la misma carpeta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #ffffff;
}

/* Contenedor del editor */
#editor-container {
    max-width: 800px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.9); /* Fondo semitransparente para mejor visibilidad */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Botones */
button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    font-size: 16px;
    color: white;
    background-color: #00529c;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #6b1521;
}

/* Ajustes responsivos */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    h1 {
        font-size: 24px;
    }
    button {
        width: 100%;
    }
    #editor-container {
        width: 100%;
    }
}
